@media (max-width: 768px) {
  h1{
    font-size: 1.8rem !important;
    margin: 1rem !important;
  }
  
  .btn{
    margin: 17px !important;
  }

  #red {
    height: 100px;
    width: 100px;
  }
  #green{
    height: 100px;
    width: 100px;
  }
  #blue {
    height: 100px;
    width: 100px;
  }
  #yellow {
    height: 100px;
    width: 100px;
  }
  #contr {
    display: block;
    width: 90%;
    margin: auto;
  }
}
body {
  text-align: center;
  background-color: #011F3F;
  user-select: none;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  color: #FEF2BF;
  margin: 2rem;
}

.container {
  display: block;
  width: 50%;
  margin: auto;
}

.btn {
  margin: 25px;
  display: inline-block;
  height: 150px;
  width: 150px;
  border: 5px solid black;
  border-radius: 20%;
  cursor: pointer;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

.mybutton {
  margin-top: 2.5%;
  padding: 2px;
  width: 100px;
  height: 30px;
  border-radius: 10px;
  border: none;
  background: rgb(0, 0, 0);
  color: white;
  box-shadow:
      1px 2px 2px hsl(220deg 60% 50% / 0.333),
      2px 4px 4px hsl(220deg 60% 50% / 0.333),
      3px 6px 6px hsl(220deg 60% 50% / 0.333);
  font-size: .8rem;
  font-family: 'Press Start 2P', cursive;
  transition: transform 180ms;
  cursor: pointer;
}

.mybutton:hover {
  transform: translateY(-3px);
}